.item{
    background: white;
    border: 1px solid #e8e8e8;
    margin:1.3rem;
    padding:1.3rem;
}
//BEM (Block__Element--Modifier)->Never use tagname or idname
.item__message{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.item--rank-1{
    background: $green;
    border: 1px solid $alt-green;
}

.item--rank-2 {
    background: $blue;
    border: 1px solid $alt-blue;
}

.item--rank-3 {
    background: $red;
    border: 1px solid $alt-red;
}